div(class=classHot)
	.hot__center.center
		.hot__wrapper
			h3.hot__title.h3 Hot bid
			.hot__inner
				.hot__slider.js-slider-hot
					.hot__slide
						+card("img/content/card-pic-1@2x.jpg", "img/content/card-pic-1.jpg", "Amazing digital art")
					.hot__slide
						+card("img/content/card-pic-2@2x.jpg", "img/content/card-pic-2.jpg", "Ribbon Hunter")
					.hot__slide
						+card("img/content/card-pic-3@2x.jpg", "img/content/card-pic-3.jpg", "Amazing digital art")
					.hot__slide
						+card("img/content/card-pic-4@2x.jpg", "img/content/card-pic-4.jpg", "Ribbon Hunter")
					.hot__slide
						+card("img/content/card-pic-5@2x.jpg", "img/content/card-pic-5.jpg", "Amazing digital art")
					.hot__slide
						+card("img/content/card-pic-6@2x.jpg", "img/content/card-pic-6.jpg", "Ribbon Hunter")
					.hot__slide
						+card("img/content/card-pic-7@2x.jpg", "img/content/card-pic-7.jpg", "Amazing digital art")