---
title: Crypter-NFT
---
extends layouts/layout
block content
	.center
		ul(style="padding: 50px 0; font-size: 16px;")
			li(style="margin-bottom: 15px;")
				a(href="index.html") Home
			li(style="margin-bottom: 15px;")
				a(href="upload-variants.html") Upload Variants
			li(style="margin-bottom: 15px;")
				a(href="upload-details.html") Upload Details
			li(style="margin-bottom: 15px;")
				a(href="connect-wallet.html") Connect wallet
			li(style="margin-bottom: 15px;")
				a(href="faq.html") FAQ
			li(style="margin-bottom: 15px;")
				a(href="activity.html") Activity
			li(style="margin-bottom: 15px;")
				a(href="search01.html") Search01
			li(style="margin-bottom: 15px;")
				a(href="search02.html") Search02
			li(style="margin-bottom: 15px;")
				a(href="profile.html") Profile
			li(style="margin-bottom: 15px;")
				a(href="profile-edit.html") Profile Edit
			li(style="margin-bottom: 15px;")
				a(href="item.html") Item